<!DOCTYPE html>
<html>
    <head>
        <title>The anonymous recipe app</title>
    </head>
    <body>
        <h1>Hello from loginPage!</h1>
        <div>
            <p>(this is the login page)</p>
        </div>
    </body>
</html>